.RecipesOverview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
  max-width: 650px;
}

.Recipe {
  border: 1px solid grey;
  margin: 15px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  border-radius: 15px;
  line-height: 1.6;
  align-items: center;
  padding: 2rem;
}

.description {
  margin: 2rem auto;
}

.rating {
  margin: 2rem auto;
}

.title {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 1rem;
  text-align: center;
}

img {
  width: 50%;
  height: auto;
  /* opacity: 0.8; */
}

button {
  width: 200px;
  height: 50px;
  font-size: 14px;
  margin-top: 25px;
  background-color: rgba(6, 124, 75, 0.37);
  border: none;
  border-radius: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.25s ease;
}

button:hover {
  background-color: rgba(6, 124, 75, 0.808);
  color: white;
}

.ingredients li {
  list-style-position: inside;
}

.prep li {
  list-style-position: inside;
}
