.header {
    background-image: url('https://images.unsplash.com/photo-1639896773569-ba2bde2f9164?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-bottom: 55px;
    display: flex;
    opacity: 0.8;
}


.header h2 {
    text-align: center;
    margin: auto;
    color: white;
    background-color: black;
    font-size: 68px;
    letter-spacing: 0.35rem;
    padding: 10px;
   
}

.RecipesOverview {
  display: flex;
flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 650px;
}

.Recipe {
  background-color: white;
  margin: 15px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  align-items: center;
  padding: 2rem;
}

.description {
  margin: 2rem auto;
}

.rating {
  margin: 2rem auto;
}

.title {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 1rem;
  text-align: center;
}

.recipeAuthor {
  margin-top: 55px;
}

.recipeImg img {
  width: 50%;
  height: auto;
  margin-top:25px;
}

button {
  width: 200px;
  height: 50px;
  font-size: 14px;
  margin-top: 25px;
  background-color: rgba(6, 124, 75, 0.37);
  border: none;
  border-radius: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.25s ease;
}

button:hover {
  background-color: rgba(6, 124, 75, 0.808);
  color: white;
}

.ingredients li {
  list-style-position: inside;
}

.prep li {
  list-style-position: inside;
}

.btnGoBack {
    background: grey;
    margin-left: 5rem;
  }