:root{
    font-family: sans-serif;
    color: white;
    margin: 0 2rem;
}

body{
    padding: 0rem;
    margin: 0rem;
    background-color: black;
}

a{
    text-decoration: none;
    color: white
}


.App-header{
    padding: 0rem;
    margin: 0rem;
    background-color: black;
}

.navigation{
    display: flex;
    justify-content: center;
    background: black;


}

.navLink{
    padding: 0.5rem;
    margin: 1rem;
    color: white;
    font-size: 1.2rem;;
}


.hero{
    display: flex;
    justify-content: center;


}

.heroImg{
    width: 1200px;
    height: 300px;
    object-fit: cover;

}
.partnerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  

}

.partnerCard{
width: 300px;
margin: 1rem;
border: 1px solid white;
border-radius: 5px;
padding: 1rem;
}

.partnerImage{
    width: 300px;
    height: 300px;

    object-fit: cover;
}


.partnerDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p.partnerText {
    line-height: 1.5rem;
}
