:root {
  font-family: sans-serif;
  color: black;
  margin: 0;
}

body {
  padding: 0rem;
  margin: 0rem;
}

header {
  background-color: #b5cebe;
  /* transition: all 0.25s ease; */
  width: 100%;
  z-index: 5;
}

a {
  text-decoration: none;
  color: rgba(6, 124, 75, 0.808);
}

a:hover {
  color: rgba(6, 124, 75, 0.37);
}

.App-header {
  padding: 0rem;
  margin: 0rem;
}

.navLink {
  padding: 0.5rem;
  margin: 0.25rem;
  color: white;
  font-size: 1.2rem;
}

.partnerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.partnerCard {
  width: 300px;
  margin: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.562);
  border-radius: 5px;
  padding: 1rem;
}

.partnerImage {
  width: 100%;
  height: auto;
  padding: 0rem;
  object-fit: cover;
}

.partnerDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

p.partnerText {
  line-height: 1.5rem;
  text-align: justify;
}
/*
Vita style
*************/

.overviewCards {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.buttonCard {
  color: white;
  background-color: rgba(6, 124, 75, 0.808);
  border-color: white;
}

.buttonCard:hover {
  color: black;
  background-color: rgba(6, 124, 75, 0.37);
  border-color: rgba(6, 124, 75, 0.808);
}

/*************
Yen-This style
*************/
.authorWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.authors {
  /* width: 320px; */
  width: 500px;
  margin: 2rem 0;
  padding: 1.5rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.authorImgContainer {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

.authorImgContainer:hover .overlay {
  opacity: 0.8;
}

.text {
  color: rgb(6, 124, 75);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0.6rem 0.7rem;
  border: 2px solid grey;
  border-radius: 5px;
}

.authorImg {
  display: block;
  width: 100%;
  height: auto;
  padding: 0rem;
  object-fit: cover;
}

.authorTitle {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  margin-top: 10px;
}

.authorBtn-container {
  display: flex;
  justify-content: center;
}

.authorBtn {
  background-color: rgba(6, 124, 75, 0.37);
  border: none;
  border-radius: 0px;
  width: 150%;
  padding: 1rem 0;
  text-align: center;
}

.shortIntro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
}

/*************
Yen-This style
*************/

/*
Meike style
*************/
.footer {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.37);
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer ul {
  list-style: none;
  border: 1px solid grey;
}

.about {
  display: flex;
  flex-direction: column;
}

.footer p {
  font-weight: bold;
  font-size: larger;
}

.social {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
}
.icons img {
  height: 50px;
  width: auto;
}

.links {
  display: flex;
  flex-direction: column;
}

/*************
Meike style
  
*************/
